
<%- include('partial/head.ejs') %>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Nice</th>
                <th>sys</th>
                <th>idle</th>
                <th>irq</th>
            </tr>
        </thead>
        <tbody>
            <% dataCPU.forEach(data => { %> 
            <tr>
                <td><%= data.times.user %>
                    <td><%= data.times.nice %>
                        <td><%= data.times.sys %>
                            <td><%= data.times.idle %>
                                <td><%= data.times.irq %>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>